/* mobile và tablet */
@media (max-width: 1024px) {
   
    .hide-on-mobile-tablet{
        display: none;
    }
    .header{
        position: fixed;
        /* cho nó nỗi lên */
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    /* cho tất cả các thẻ ở dưới cách header một khoảng bằng chính nó */
    .container__app{
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    /* thuộc tính này giúp các sp hiển thị ngang thanh header */
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        /* trừ đi chìu rộng của trang web khi ở trên mobile và tablet */
        padding: 0 calc((100% - 644px) /2);
    }
    .header__cart-list::before{
        display: none;
    }
    .header__sort-bar{
        /* cho nó hiện lên */
        /* bên file main ta sẽ bỏ display flex, nếu ta dúng display block nó sẽ vỡ giao diện 
        vì ban đầu thẻ này có flex để cho các chữ nằm theo chìu ngang,
        nếu ta dùng block nó sẽ hiện nhưng sẽ bị vỡ giao diện*/
        display: flex;
    }
    .mobile-category{
        display: block;
    }
    .app__content{
        /* khi ở trên m và c thì nó cách top  */
        padding-top: 8px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
     :root{
        --header-height : 70px;
        /* sau khi phần navbar bị mất, ta sẽ cho nó trở về không */
        --navbar-height : 0px;
    }
    .hide-on-tablet{
        display: none;
    }
    
    .header__cart{
        width: 80px;
        text-align: right;
    }
   
}
/* mobile */
@media (max-width: 739px) {
      :root{
        --header-height : 50px;
        /* sau khi phần navbar bị mất, ta sẽ cho nó trở về không */
        --navbar-height : 0px;
    }
    .hide-on-mobile{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header__mobile-search{
        display: block;
    }
    .header__cart,
    .header__logo{
        width: unset;
    }
    .header__cart-wrap{
        padding: 10px 8px;
    }
    .header__cart-notice{
        right: -1px;
    }
    .header__cart-list::after{
        content: " ";
        position: absolute;
        height: 0px;
        width: 0px;
        /* background-color: aquamarine; */
        top: -28px;
        right: 35px;
    }
    .header__search{
        position: fixed;
        top: var(--header-height);
        /* =1 là vì koh có nó thì phần chữ sẽ chiếm mất */
        z-index: 1;
        left: 0;
        right: 0;
        height: var(--header-sort-bar-height);
        padding: 0 12px;
        box-shadow: 1px 5px 5px rgb(0 0 0 / 5%);
        animation: mobile_search linear 0.3s;
        display: none;
    }
      @keyframes mobile_search {
        from{
            opacity: 0;
            top: calc(var(--header-height) /2);
        }
        to{
            opacity: 1;
            top: var(--header-height);
        }
    }
    .pagination-item{
        margin: 0;
    }
    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .header__search-history{
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
    }

    .app__content{
        margin: 0 2px;
    }
    
    .header__logo-img{
        width: 74px;
    }
    .row-footer{
        padding: 0 18px;
    }
    .footer__bottom{
        padding: 6px 0;
    }
    
    .footer__heading{
        text-align: center;
    }
    .footer-item__link,
    .footer__download{
        justify-content: center;
    }
    /* .home-product-item__price-current{
        font-size: 1.3rem;
    } */
  
}